{% extends "layout.html" %}
{% import "helpers.html" as h %}
{% set path = [(url_for('main_page'), 'Home'),
(url_for('author_books', author_id=book.authors[0].author_id), book.authors[0].last_name),
(url_for('book_info', book_id=book.book_id), book.title)]
%}
{% block body %}
    <div class="row">
        <div class="span4">
            <h2>{{ book.title }}</h2>
        </div>
        <div class="span4">
            <h1>{{ book.authors[0].first_name }} {{ book.authors[0].last_name }}</h1>
        </div>
        {% if book.sequence %}
            <div class="span4">
                <h3>{{ book.sequence.title }} # {{ book.sequence_number }}</h3>
            </div>
        {% endif %}
    </div>
    {% if book.annotation %}
        <p> <blockquote> {{ book.annotation }} </blockquote> </p>
    {% endif %}
    
    <p>
    {% if book.genres %}
        {% for genre in book.genres %}
           <span class="label label-inverse">{{ genre }}</span> 
        {% endfor %}
    {% endif %}
    </p>

    <p>
        {{ h.download_buttons(book.book_id) }}
    </p>
{% endblock %}
