{% macro download_buttons(book_id, div_class="btn-toolbar") -%}
    <div class="{{ div_class }}">
        <a class="btn btn-success" href="{{ url_for('librarian.get_fb2', book_id=book_id) }}">fb2</a>
        <a class="btn btn-primary" href="{{ url_for('librarian.get_prc', book_id=book_id) }}">prc</a>
    </div>
{%- endmacro %}

{% macro books_list(books) -%}
    {% for book in books %}
        <div class="row well">
            <div class="span1">
                <strong> {{ book.sequence_number or "-" }} </strong>
            </div>

            <div class="span2">
                <strong> {{ book.title }} </strong>
            </div>

            <div class="span3">
                {% for author in book.authors %}
                    <a href="{{ url_for('librarian.author_books', author_id=author.id) }}"> {{author.full_name}} </a>
                    {% if not loop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </div>

            <div class="span2">
                {% if book.sequence %}
                    <a href="{{ url_for('librarian.sequence_books', sequence_id=book.sequence_id) }}"> {{ book.sequence.title }} </a>
                {% else %}
                    -
                {% endif %}
            </div>

            <div class="span1">
                <a class="btn btn-info" href="{{ url_for('librarian.book_info', book_id=book.id) }}">Info</a>
            </div>

            {{ download_buttons(book.id, div_class="span2") }}
        </div>
    {% endfor %}
{%- endmacro %}

{% macro authors_list(authors) -%}
    {% for author in authors %}
        <div class="row well">
            <div class="span6">
                {{ author.full_name }}
            </div>
            <div class="span4">
                <a class="btn btn-info" href="{{ url_for('librarian.author_books', author_id=author.id) }}">Books</a>
            </div>
        </div>
    {% endfor %}
{%- endmacro %}

{% macro render_pagination(pagination, endpoint) %}
    <div class=pagination>
        <ul>
            {%- for page in pagination.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li><a href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a></li>
                    {% else %}
                        <li class='active'><a href="#">{{ page }} </a></li>
                    {% endif %}
                {% else %}
                    <li class="disabled"><a href="#">…</a></li>
                {% endif %}
            {%- endfor %}
        </ul>
    </div>
{% endmacro %}
