{% macro download_buttons(book_id, div_class="btn-toolbar") -%}
    <div class="{{ div_class }}">
        <button class="btn btn-success" href="{{ url_for('get_fb2', book_id=book_id) }}">fb2</button>
        <button class="btn btn-primary" href="{{ url_for('get_prc', book_id=book_id) }}">prc</button>
    </div>
{%- endmacro %}

{% macro books_list(books) -%}
    {% for book in books %}
        <div class="row well">
            <div class="span1">
                <strong> {{ book.sequence_number or "-" }} </strong>
            </div>

            <div class="span2">
                <strong> {{ book.title }} </strong>
            </div>

            <div class="span3">
                {% if book.authors %}
                    <a href="{{ url_for('author_books', author_id=book.authors[0].author_id) }}"> {{ book.authors[0].first_name + " " + book.authors[0].last_name }} </a>
                {% else %}
                    -
                {% endif %}
            </div>

            <div class="span2">
                {% if book.sequence %}
                    <a href="{{ url_for('sequence_books', sequence_id=book.sequence.sequence_id) }}"> {{ book.sequence.title }} </a>
                {% else %}
                    -
                {% endif %}
            </div>

            <div class="span1">
                <a class="btn btn-info" href="{{ url_for('book_info', book_id=book.book_id) }}">Info</a>
            </div>

            {{ download_buttons(book.book_id, div_class="span2") }}
        </div>
    {% endfor %}
{%- endmacro %}

{% macro authors_list(authors) -%}
    {% for author in authors %}
        <div class="row well">
            <div class="span6">
                {{ author.first_name }} {{ author.last_name }}
            </div>
            <div class="span4">
                <a class="btn btn-info" href="{{ url_for('author_books', author_id=author.author_id) }}">Books</a>
            </div>
        </div>
    {% endfor %}
{%- endmacro %}
