<!doctype html>
<html>
    <head>
        <title>Librarian</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class=navbar-inner>
                <div class=container>
                    <a class="brand" href="#"> Librarian </a>
                    <div class="nav-collapse collapse">
                        <ul class=nav>
                            <li><a href="{{ url_for('main_page') }}"> Search </a>
                            <li><a href="{{ url_for('authors') }}"> Authors </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class=container>
            <ul class="breadcrumb">
                {% for path_elem, path_name in path %}
                    {% if not loop.last %}
                        <li> <a href="{{ path_elem }}">{{ path_name }}</a> <span class="divider">/</span> </li>
                    {% else %}
                        <li class="active">{{ path_name }}</li>
                    {% endif %}
                {% endfor %}
            </ul>

            {% block title %}{% endblock %}

            <form name="search_form" action="{{ url_for('search_results') }}" method="get" accept-charset="UTF-8" class="well form-search">
                Search me the
                <input value="{{ search_term if search_term is defined else '' }}" name="term" type="text" class="input-large search-query" />
                in
                <select name='type'>
                    <option value='all' {{ 'selected' if search_type == 'all' else '' }} >Everywhere</option>
                    <option value='authors' {{ 'selected' if search_type == 'authors' else '' }} >Authors</option>
                    <option value='books' {{ 'selected' if search_type == 'books' else '' }} >Book</option>
                </select>
                <button type="submit" class=btn>Search</button>
            </form>

            {% block body %}{% endblock %}
        </div>

        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    </body>
</html>
