<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" version="XHTML 1.1" xml:lang="en">
	<head>
		<title>calibre library</title>
        <!-- <link rel="stylesheet" type="text/css" href="{prefix}/static/gui.css" charset="utf-8" /> -->
	</head>
	<body>
	    <div id="search_box">
            <form name="search_form" action="/search/1" method="get" accept-charset="UTF-8">
                  <input value="" name="term" type="text" />
                  <input type="submit" value="Search" />
            </form>
        </div>
        
        <div id="main">
		    <table id="book_list" summary="Book list" cellspacing="0" cellpadding="0">
		        <thead>
		            <tr></tr>
		        </thead>
                <tbody>
                    
                </tbody>
		    </table>
		</div>
        
        <div id="cover_pane">
            <img title="Cover" src="" />
        </div>
	</body>
</html>
