.char-btn {
    min-width: 43px;
    font-family: monospace;
    padding: 10px;
    margin-bottom: 2px;
}

.char-sep {
    height: 15px;
    clear: both;
}

.cover-image {
    width: 150px;
    height: 200px;
}
