{% extends "layout.html" %}
{% import "helpers.html" as h %} 

{% set path = [(url_for('.main_page'), 'Home')] %}
{% set eng_chars = 'abcdefghijklmnopqrstuvwxyz' %}
{% set rus_chars = 'абвгдеёжзийклмнопрстуфхцчшщъыьэюя' %}

{% block body %}
    {% if not first_letter %}
        {% for char in eng_chars %}
        <div class="span1">
            <a class="btn btn-info char-btn" href="{{ url_for('.authors_chooser', first_letter=char) }}">{{ char.upper() }}</a>
        </div>
        {% endfor %}
        <div class="char-sep"></div>
        {% for char in rus_chars %}
        <div class="span1">
            <a class="btn btn-info char-btn" href="{{ url_for('.authors_chooser', first_letter=char) }}">{{ char.upper() }}</a>
        </div>
        {% endfor %}
    {% endif %}

    {% if first_letter and not second_letter %}
        {% if first_letter in eng_chars %}
            {% for char in eng_chars %}
            <div class="span1">
                <a class="btn btn-info char-btn" href="{{ url_for('.authors_chooser', first_letter=first_letter, second_letter=char) }}">{{ first_letter.upper() + char }}</a>
            </div>
            {% endfor %}
        {% endif %}
        {% if first_letter in rus_chars %}
            {% for char in rus_chars %}
            <div class="span1">
                <a class="btn btn-info char-btn" href="{{ url_for('.authors_chooser', first_letter=first_letter, second_letter=char) }}">{{ first_letter.upper() + char }}</a>
            </div>
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if authors_pager %}
        {{ h.authors_list(authors_pager.items) }}
        {{ h.render_pagination(authors_pager) }}
    {% endif %}
{% endblock %}
