<!doctype html>
<html>
    <link rel="shortcut icon" href="{{ url_for('.static', filename='favicon.ico') }}">
    <head>
        <title>Librarian</title>
        <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/bootstrap-responsive.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/librarian.css') }}">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('.authors_chooser') }}"> Librarian </a>
                </div>

                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <form name="search_form" action="{{ url_for('.search') }}" method="get" accept-charset="UTF-8" class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input value="{{ search_term if search_term is defined else '' }}" name="term" type="text" class="form-control"/>
                        </div>
                        <select name="type" class="btn" onchange="submit()">
                            <option value='authors' {{ 'selected' if search_type == 'authors' else '' }} >Authors</option>
                            <option value='books' {{ 'selected' if search_type == 'books' else '' }} >Book</option>
                        </select>
                        <input value="{{ curr_author_id }}" name="curr_author_id" type="hidden"/>
                    </form>
                </div>
            </nav>
            <ol class="breadcrumb">
                {% for path_elem, path_name in path %}
                    {% if not loop.last %}
                        <li> <a href="{{ path_elem }}">{{ path_name }} </a> </li>
                    {% else %}
                        <li class="active">{{ path_name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>

            {% block title %}{% endblock %}

            {% block body %}{% endblock %}
        </div>
        <script src="{{ url_for('static', filename='js/jquery-1.8.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
