{% extends "layout.html" %}
{% import "helpers.html" as h %} 
{% set author = books_pager.items[0].authors[0] %}
{% set seq = books_pager.items[0].sequence %}
{% set path = [
    (url_for('.main_page'), 'Home'),
    (url_for('.author_books', author_id=author.id), author.full_name),
    (url_for('.seq_books', seq_id=seq.id), seq.title)
]
%}
{% block body %}
    <div class=page-header>
        <h2>Books of {{ seq.title }}</h2>
    </div>
    {{ h.books_list(books_pager.items) }}

    {{h.render_pagination(books_pager) }}
{% endblock %}
