{% extends "layout.jinja" %}
{% import "helpers.jinja" as h %} 

{% set path = [
    (url_for('.main_page'), 'Home'),
    (url_for('.author_seqs', author_id=author.id), author.full_name)
] %}

{% set curr_author_id = author.id %}

{% block body %}
    <div class=page-header>
        <h2>Sequenses by {{ author.full_name }} </h2>
    </div>
    {{ h.seqs_list(author.id, seqs_pager.items) }}
    {{ h.render_pagination(seqs_pager) }}
{% endblock %}
